.chat{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    block-size: 100vh;

    /*flex-direction: row;
    grid-area: chat;
    flex-wrap: wrap;
    border: 10px solid rebeccapurple;
    */
}
