.message{
    background: var(--white);
    padding: .5rem;
    font: var(--body-16regular);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
}

.message-text {
    margin: 0;
}

.message.is-receiver{
    background-color: var(--white);
    align-self: flex-start;
    border-radius: 0 .5rem .5rem .5rem;
}

.message.is-receiver::before{
    /*Alinear un elemento en el borde inicial*/
    content: '';
    position: absolute; /*el papá debe tener posición relativa*/
    inset-block-start: 0;
    inset-inline-end: 100%; /*Para que se salga del contenedor*/


    inline-size: 12px;
    block-size: 12px;
    box-sizing: border-box;
    border-inline-start: 6px solid transparent;
    border-inline-end: 6px solid white;
    border-block-start: 6px solid white;
    border-block-end: 6px solid transparent;

    border-radius: 3px 0 0 0;

}

.message.is-sender {
    background-color: var(--green-1);
    align-self: flex-end; 
    border-radius: .5rem 0 .5rem .5rem;
}

.message.is-sender::before {
    content: '';
    position: absolute; /*el papá debe tener posición relativa*/
    inset-block-start: 0;
    inset-inline-start: 100%; /*Para que se salga del contenedor*/


    inline-size: 12px;
    block-size: 12px;
    box-sizing: border-box;
    border-inline-start: 6px solid var(--green-1);
    border-inline-end: 6px solid transparent;
    border-block-start: 6px solid var(--green-1);
    border-block-end: 6px solid transparent;

    border-radius: 0 6px 0 0;
}



.message-date {
    font: var(--caption-12regular);
    color: var(--grey);
}

.message-status {
    inline-size: 1rem;
    block-size: 1rem;
}

.message-status, .is-doblecheck{
    background-image: url('../images/doble-check.png');
    background-repeat: no-repeat;
    background-position: center;
}

.message-details {
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
}